<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451335180038-afn4c7a2mvsh50hfe3430pqi3ms20u34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451335180038-afn4c7a2mvsh50hfe3430pqi3ms20u34</string>
	<key>API_KEY</key>
	<string>AIzaSyBCKb1nBoSdZ3O5sNucV_OULP4xHbLD9SQ</string>
	<key>GCM_SENDER_ID</key>
	<string>451335180038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginWithGoogle</string>
	<key>PROJECT_ID</key>
	<string>loginwith-e6ce2</string>
	<key>STORAGE_BUCKET</key>
	<string>loginwith-e6ce2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451335180038:ios:06922d76d8a4c77e049887</string>
</dict>
</plist>